@import "vars";

/*==========  MOBILE Version ==========*/
@media (max-width: 767px) {
  //================= Global style
  body {
    font-family: $default-font;
    color: $__primary;
  }
  .overflow-h {
    overflow: hidden;
  }
  .line {
    display: block;
    height: 1px;
    width: 100%;
    background: rgba(0, 0, 0, 0.15);
  }
  ._container {
    padding: 0 30px;
    margin: 0 auto;
    max-width: 767;
  }

  //================= BTNS
  ._btn {
    padding: 15px 30px;
    background: #f50057;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 315px;
    span {
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      color: #fff;
      margin-left: 25px;
    }
  }
  ._btn-primary {
    display: inline-block;
    background: $__secondary;
    color: #fff;
    padding: 15px 25px;
    border-radius: 50px;
  }
  ._btn-secondery {
    display: inline-block;
    border: 1px solid $__secondary;
    color: $__secondary;
    padding: 15px 25px;
    border-radius: 50px;
  }

  //================= TITLES
  .sub-title {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $__secondary;
  }
  .title {
    font-family: $title-font;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: $__primary;
  }
  .title-secondary {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: $__secondary;
  }

  //=================== FORM-GROUP
  .form-group {
    .select {
      display: block;
      width: 100%;
      position: relative;
    }
    .new-select {
      font-family: $default-font;
      position: relative;
      background: #fff;
      color: #3c444c;
      padding: 16px 20px;
      font-size: 14px;
      cursor: pointer;
      user-select: none;
    }
    .new-select__list {
      max-height: 270px;
      overflow: auto;
      position: absolute;
      top: 101%;
      left: 0;
      cursor: pointer;
      width: 100%;
      z-index: 2;
      background: #fff;
      color: #3c444c;
      user-select: none;
    }
    .new-select__list.on {
      display: block;
    }
    .new-select__item span {
      display: block;
      padding: 16px 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .new-select__item span:hover {
      background: #eeeeee;
    }
    .new-select:after {
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      position: absolute;
      right: 15px;
      top: 38%;
      background: url("../img/errow-select.svg") no-repeat right center/contain;
      opacity: 0.6;
      transition: all 0.27s ease-in-out;
      transform: rotate(0deg);
    }
    .new-select.on:after {
      transform: rotate(180deg);
    }

    .form-control {
      font-family: $default-font;
      color: #3c444c;
      position: relative;
      display: block;
      font-size: 14px;
      padding: 16px 20px;
      width: 100%;
      max-width: 100%;
      appearance: none;
      background-image: url("../img/errow-select.svg");
      background-repeat: no-repeat, repeat;
      background-position: right 1.7em top 50%, 0 0;
      background-size: 0.65em auto, 100%;
    }
  }

  //=================== VIDEO
  .video {
    min-width: 100%;
    min-height: 100%;
    height: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 500ms;
    display: inline-block;
    vertical-align: baseline;
    object-fit: cover;
    &-wrap {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
    }
    &-online {
      opacity: 0;
      visibility: hidden;
      &.active {
        opacity: 1;
        visibility: visible;
      }
    }
    &-offline {
      opacity: 0;
      visibility: hidden;
      &.active {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .controls-video {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 5;
    .play {
      position: relative;
      border: 2px solid #ffffff;
      width: 72px;
      height: 72px;
      border-radius: 50%;
      background-color: inherit;
      outline: 0 !important;
      .buttons-pause {
        visibility: hidden;
        opacity: 0;
      }
      .buttons-play {
        position: absolute;
        display: block;
        border: 9px solid transparent;
        border-left: 12px solid #fff;
        border-radius: 2px;
        left: 50%;
        top: 50%;
        transform: translate(-20%, -50%);
        visibility: visible;
        opacity: 1;
        transition: all 0.4s ease;
      }
    }
    .pause {
      position: relative;
      border: 2px solid #ffffff;
      width: 72px;
      height: 72px;
      border-radius: 50%;
      background-color: inherit;
      .buttons-play {
        visibility: hidden;
        opacity: 0;
      }
      .buttons-pause {
        position: absolute;
        display: block;
        width: 15px;
        height: 17px;
        border-right: 3px solid #fff;
        border-left: 3px solid #fff;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        visibility: visible;
        opacity: 1;
        transition: all 0.4s ease;
      }
    }
  }

  //============== SOC-CONTACTS
  .contacts {
    &-wrap {
      display: flex;
      flex-direction: column;
      .phone {
        color: #fff;
        font-weight: 600;
        font-size: 15px;
        line-height: 23px;
      }
      .address {
        font-size: 12px;
        font-weight: 400;
        opacity: 0.7;
      }
    }
    &__soc {
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 50px;
      &-list {
      }
      &-link {
        margin-right: 15px;
      }
    }
  }

  //============== partners__slider
  .partners__slider {
    .custom-slider__item {
      height: 300px;
    }
  }
  //============== CUSTOM-SLIDER
  .custom {
    &-slider {
      .slick-dots {
        display: flex;
        list-style: none;
        justify-content: center;
        width: 100%;
        padding: 0;
        margin: 0;
        .slick-active {
          button {
            opacity: 1;
          }
        }
        li {
          button {
            width: 6px;
            height: 6px;
            border-radius: 50px;
            background: #bf9d5c;
            font-size: 0;
            opacity: 0.2;
            margin: 0 2px;
          }
        }
      }
    }
    &-slider__item {
      position: relative;
      width: 100%;
      height: 550px;
      margin: auto;
    }
    &-slider__item-photo {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }
  }

  //============== HEADER AND MENU
  .burger {
    width: 24px;
    height: 24px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 1000;
    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #fff;
      opacity: 1;
      right: 0;
      transition: 0.25s ease-in-out;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 9px;
      }
      &:nth-child(3) {
        top: 18px;
      }
    }

    &__wrapper {
      display: flex;
      align-items: center;
      &.active {
        span {
          &:nth-child(1) {
            top: 9px;
            transform: rotate(135deg);
          }
          &:nth-child(2) {
            opacity: 0;
            right: 60px;
          }
          &:nth-child(3) {
            top: 9px;
            transform: rotate(-135deg);
          }
        }
      }
    }
  }
  .h-fixed {
    position: fixed !important;
    z-index: 1000;
    left: 0;
    top: 0;
    right: 0;
    background-color: #3c444c;
    transition: all ease 0.3s;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  }
  .header__page {
    background-color: #3c444c;
  }
  .header-mob {
    color: #eceff1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    &__row {
      position: relative;
      z-index: 15;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
    }
    &__logo {
      max-width: 110px;
      width: 100%;
      max-height: 20px;
    }
    &__content {
      position: fixed;
      z-index: 10;
      background: #272b30;
      box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
      height: 100%;
      width: 80%;
      max-width: 100%;
      top: 0;
      left: -100%;
      padding-top: 100px;
      padding-bottom: 30px;
      transition: 0.25s ease-in-out;
      overflow: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &.active {
        left: 0%;
      }
    }
    &__wrap {
    }
    &__menu {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    &__list {
    }
    &__link {
      display: block;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: #eceff1;
      margin-bottom: 20px;
      &:hover {
        color: $__secondary;
      }
    }
    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .language-mob {
      }
      .language-el {
        display: flex;
        li {
          a {
            color: #747d88;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            padding: 0 5px;
          }
          &:last-child a {
            border-left: 1px solid #747d88;
          }
        }
        .active {
          a {
            color: #fff;
          }
        }
      }
      .copyright {
        font-size: 12px;
        line-height: 18px;
        opacity: 0.7;
      }
    }
  }
  .errow-mob {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    &__text {
      display: none;
      margin-left: 15px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
      line-height: 35px;
      &.active {
        display: block;
      }
    }
  }

  //============= SECTION first-screen
  .mob__first-screen {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .first-screen {
    &__wrap {
      width: 100%;
    }
    &__title {
      font-family: $title-font;
      font-weight: normal;
      font-style: normal;
      font-size: 30px;
      line-height: 40px;
      text-align: center;
      color: #ffffff;
      &-wrap {
        position: absolute;
        width: 100%;
        max-width: 320px;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
        z-index: 10;
        span {
          display: block;
          font-weight: 400;
          text-align: center;
          font-size: 14px;
          line-height: 22px;
          color: #ffffff;
          letter-spacing: 1px;
          opacity: 0.9;
        }
      }
    }
    &__sub-title {
      font-size: 14px;
      text-align: center;
      color: #ffffff;
    }
    &__bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 0 30px;
      padding-bottom: 25px;
      z-index: 10;
    }
    &__btn {
      margin: 0 auto;
      margin-bottom: 25px;
    }
    &__control {
      display: flex;
      align-items: center;
      .version-online,
      .version-offline {
        padding: 0 20px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
      }
      .version-online {
        display: none;
        &.active {
          display: block;
        }
      }
      .version-offline {
        display: none;
        &.active {
          display: block;
        }
      }
      &-row {
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .control {
        &__errows {
        }
        &__errow-left {
          background: inherit;
          opacity: 0.7;
          &.active {
            opacity: 1;
          }
        }
        &__errow-right {
          background: inherit;
          transform: rotate(180deg);
          opacity: 0.7;
          &.active {
            opacity: 1;
          }
        }
      }
    }
    &__consultation {
      display: inline-block;
      width: 48px;
      height: 48px;
      background: #2ab53c;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      &.popup-btn.hidden {
        display: none;
      }
    }
  }

  //===============SECTION advantages
  .advantages {
    position: relative;
    &__inner {
      position: relative;
      padding-top: 40px;
      padding-left: 30px;
    }
    &__sub-title {
      margin-bottom: 30px;
    }
    &__title {
      margin-bottom: 15px;
    }
    &__text {
      margin-bottom: 40px;
      font-size: 15px;
      line-height: 23px;
      padding-right: 30px;
    }
    &__btn {
      display: inline-block;
      padding: 14px 40px;
      font-weight: 600;
      font-size: 12px;
      text-align: center;
      color: #bf9d5c;
      border: 1px solid #bf9d5c;
      border-radius: 50px;
      margin-bottom: 40px;
    }
    &__link {
      color: $__secondary;
    }
    &__reviews {
      max-width: 60%;
      &-text {
        position: relative;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 20px;
        padding-top: 15px;
        &::after {
          content: "";
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          width: 64px;
          height: 1px;
          background-color: $__secondary;
        }
      }
      &-author {
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
      }
      &-rank {
        display: inline-block;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 100px;
        opacity: 0.8;
      }
      &-photo {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    &__conrtrol {
      position: absolute;
      left: 30px;
      bottom: 0;
      padding-bottom: 35px;
      max-width: 70px;
      display: flex;
      justify-content: space-between;
      button {
        background-color: inherit;
      }
    }
  }
  .advantages-slider {
    &__errow {
      position: absolute;
      bottom: 0;
      left: 30px;
      background: inherit;
      &-left {
        z-index: 5;
      }
      &-right {
        margin-left: 35px;
        z-index: 5;
      }
      &.slick-disabled {
        opacity: 0.5;
      }
    }
  }

  //======================SECTION prices
  .prices {
    background: #3c444c;
    padding: 30px 0;
    .line {
      margin: 30px 0;
    }
    .accordeon-list .head-active .head-wrap {
      background: #3c444c;
      border-bottom: none;
    }
    .accordeon-list .head-active .hidden {
      background: #3c444c;
    }
    .accordeon-list .head-wrap::after {
      height: 0;
    }
    &__title {
      font-weight: 600;
      font-size: 12px;
      text-transform: uppercase;
      color: #cbcfd4;
      margin-bottom: 40px;
    }
    &__items {
    }
    &__item {
    }
    &__item-title {
      font-weight: 600;
      font-size: 18px;
      color: $__secondary;
      margin-bottom: 20px;
    }
    &__item-content {
    }
    &__item-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__item-text {
      max-width: 350px;
    }
    &__item-text-title {
      position: relative;
      display: block;
      font-weight: 600;
      font-size: 15px;
      line-height: 20px;
      color: #ffffff;
      padding-left: 15px;
      &::after {
        content: "";
        position: absolute;
        display: block;
        background: #bf9d5c;
        height: 1px;
        width: 10px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
    &__item-text-subtitle {
      display: block;
      font-size: 12px;
      line-height: 18px;
      color: #cbcfd4;
      padding-left: 15px;
    }
    &__item-img {
      position: relative;
      width: 48px;
      height: 48px;
      background: #272b30;
      opacity: 0.5;
      border-radius: 4px;
      padding: 10px;
      img {
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  //======================SECTION team
  .team {
    &__head {
      background: #fff;
      padding: 40px 0;
    }
    &__sub-title {
      margin-bottom: 30px;
    }
    &__title {
      margin-bottom: 15px;
    }
    &__text {
      font-size: 15px;
      line-height: 23px;
      color: #272b30;
    }
    &__video {
      width: 100%;
      .video-wrap {
        padding-top: 120%;
        .video {
          height: 1200px;
          top: 0;
          left: 0;
          transform: translate(0, 0);
        }
      }
      .controls-video {
        top: 50%;
      }
      &-slider {
        .custom-slider__item {
          height: auto;
        }
        .slick-dots {
          position: absolute;
          top: 0px;
          padding-top: 120%;
          padding-bottom: 10px;
          background: #eeeeee;
          z-index: -1;
        }
      }
    }
    &__cases {
      background: #eeeeee;
      margin-top: 20px;
      padding-top: 25px;
      padding-bottom: 60px;
      &-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
      }
      &-sub-title {
        display: inline-block;
        font-size: 14px;
        line-height: 22px;
        color: #747d88;
        margin-bottom: 15px;
      }
      &-text {
        position: relative;
        font-size: 14px;
        line-height: 22px;
        padding-top: 15px;
        margin-bottom: 35px;
        &::after {
          content: "";
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          width: 64px;
          height: 1px;
          background-color: $__secondary;
        }
      }
      &-btn {
      }
    }
  }

  //======================SECTION programs
  .programs {
    padding-top: 40px;
    &__content {
    }
    &__sub-title {
      margin-bottom: 50px;
    }
    .partners__slider {
      margin-bottom: 20px;
    }
  }

  //====================== test
  .test {
    &__content {
      position: relative;
      z-index: 5;
      margin-bottom: -100px;
    }
    &__title {
      margin-bottom: 15px;
    }
    &__text {
      margin-bottom: 25px;
      font-size: 14px;
      line-height: 22px;
    }
    &__btn {
      display: inline-block;
      padding: 14px 40px;
      font-weight: 600;
      font-size: 12px;
      text-align: center;
      color: $__secondary;
      border: 1px solid $__secondary;
      border-radius: 50px;
    }
    &__img-wrap {
      position: relative;
      width: 100%;
      padding-bottom: 80%;
      overflow: hidden;
    }
    &__img {
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
  //====================== accordeon
  .accordeon {
    &-list {
      position: relative;
      &:last-child {
        .head-wrap::after {
          height: 0;
        }
      }
      .hidden {
        width: 100%;
        padding: 0;
        margin: auto;
        visibility: hidden;
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all 0.8s ease;
      }
      .head {
        position: relative;
        &-active {
          .head-wrap {
            background: #fff;
            border-bottom: none;
            .head-title::after {
              transform: rotate(225deg);
            }
            &:after {
              height: 0;
            }
          }
          .hidden {
            background: #eeeeee;
            visibility: visible;
            height: auto;
            overflow: none;
            opacity: 1;
          }
        }
        &-wrap {
          position: relative;
          padding-top: 25px;
          padding-bottom: 25px;
          &::after {
            content: "";
            position: absolute;
            display: block;
            height: 1px;
            width: 85%;
            left: 50%;
            transform: translate(-50%, 0);
            background: rgba(0, 0, 0, 0.15);
            bottom: 0;
          }
        }
        &-title {
          position: relative;
          margin-bottom: 10px;
          &::after {
            content: "";
            position: absolute;
            display: inline-block;
            right: 5px;
            top: 7px;
            width: 12px;
            height: 12px;
            transform: rotate(135deg);
            border-left: 2px solid #747d88;
            border-top: 2px solid #747d88;
            transition: all 0.3s ease;
          }
        }
        &-text {
          font-size: 12px;
          line-height: 18px;
        }
        .content {
          &-wrap {
            padding-top: 35px;
            padding-bottom: 35px;
          }
          &-text {
            font-size: 15px;
            line-height: 23px;
            margin-bottom: 35px;
          }
          &-lessons {
            &__items {
              margin-bottom: 20px;
            }
            &__item {
            }
            &__title {
              margin-bottom: 21px;
            }
            &__points {
              margin-bottom: 30px;
            }
            &__point {
              display: flex;
              align-items: center;
              margin-bottom: 14px;
              &:last-child {
                margin-bottom: 0;
              }
            }
            &__point-img {
              margin-right: 15px;
            }
          }
          &-btns {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 450px;
          }
          &-btn__more {
            margin-right: 5px;
          }
        }
      }
    }
  }
  //======================SECTION promotions
  .promotions {
    padding-top: 40px;
    &-test {
      position: relative;
    }
    &-test__content {
      margin-bottom: -50px;
    }
    .custom-slider__item {
      height: auto;
    }
    .test__title {
      color: $__primary;
    }
    .test__img-wrap {
      z-index: -1;
    }
    .test__btn {
      position: absolute;
      display: block;
      min-width: 300px;
      max-width: 400px;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: #eceff1;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: 30px;
      z-index: 5;
    }
    &-test {
      display: block;
    }
    &__sub-title {
      margin-bottom: 40px;
    }
  }
  //======================SECTION online-video
  .online-video {
    .team__video .video-wrap {
      height: 100vh;
    }
    .video-wrap {
      padding-top: 0;
    }
  }
  //======================SECTION TOUR
  .tour {
    &__inner {
      padding-top: 40px;
      padding-bottom: 40px;
      background: #eeeeee;
    }
    &__sub-title {
      margin-bottom: 15px;
    }
    &__form-group {
      margin-bottom: 40px;
    }
  }

  //======================SECTION guarantee

  .guarantee {
    padding-top: 40px;
    &__sub-title {
      margin-bottom: 40px;
    }
    &-top {
      background-color: #fff;
      padding-bottom: 40px;
    }
    &-top__img {
      display: flex;
      margin: 0 auto 30px auto;
    }
    &-top__text {
      font-size: 14px;
      line-height: 22px;
    }
    &-bottom {
      padding: 50px 0;
      background-color: #f50057;
    }
    &-bottom__img {
      display: flex;
      margin: 0 auto 30px auto;
    }
    &-bottom__text {
      font-size: 15px;
      line-height: 20px;
      text-align: center;
      color: #ffffff;
    }
  }

  //======================SECTION addresses

  .addresses {
    &-head {
      padding-top: 40px;
      padding-bottom: 40px;
      background: #bf9d5c;
    }
    &__sub-title {
      color: #fff;
      margin-bottom: 15px;
    }
    &__caption-select {
      display: inline-block;
      color: #fff;
      font-size: 14px;
      line-height: 22px;
      opacity: 0.7;
      margin-top: 12px;
    }
    &-contacts {
      padding-top: 40px;
      padding-bottom: 40px;
      &_tab {
        display: none;
        &.active {
          display: block;
        }
      }
      &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 10px;
      }
      &__sub-title {
        font-size: 15px;
        line-height: 23px;
        padding-bottom: 20px;
      }

      &__telephone {
        display: block;
        margin-bottom: 13px;
        margin-top: 20px;
        color: $__primary;
        padding: 2px 2px 2px 40px;
        background: url("../img/phone.svg") left no-repeat;
      }
      &__mail {
        display: block;
        color: $__secondary;
        padding: 2px 2px 2px 40px;
        margin-bottom: 30px;
        background: url("../img/mail.svg") left no-repeat;
      }
      &__btn {
        font-size: 12px;
        line-height: 15px;
        display: block;
        text-align: center;
        max-width: 400px;
      }
    }
    &__slider {
      .custom-slider__item {
        height: 320px;
      }
    }
  }

  //======================SECTION reviews
  .reviews {
    padding-top: 50px;
    padding-bottom: 50px;
    &-item {
      position: relative;
      padding: 30px 0;
      &:last-child::after {
        height: 0;
      }
      &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: rgba(0, 0, 0, 0.2);
      }
    }
    &-item__head {
      display: flex;
      align-items: center;
    }
    &-item__photo-wrap {
      position: relative;
      margin-right: 15px;
      width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 50%;
      margin-bottom: 15px;
    }
    &-item__photo {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }
    &-item__name {
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      display: block;
    }
    &-item__name-caption {
      font-size: 12px;
      line-height: 18px;
      color: #747d88;
      display: block;
    }
    &-item__text {
      font-size: 14px;
      line-height: 22px;
    }
    &-btn {
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      display: block;
      text-align: center;
      max-width: 400px;
    }
  }

  //====================== FOOTER
  .footer {
    background: #3c444c;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
    &__sub-title {
      margin-bottom: 40px;
    }
    .form-groups {
      padding-top: 30px;
      padding-bottom: 50px;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    .form-group {
      margin-bottom: 20px;
      &__text {
        font-size: 15px;
        line-height: 23px;
        margin-bottom: 50px;
      }
      .form-control__input {
        background-image: inherit;
      }
    }
    .form__btn {
      display: block;
      display: flex;
      justify-content: center;
      text-align: center;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 15px;
    }
    .form__btn-caption {
      font-size: 11px;
      line-height: 18px;
      color: #cbcfd4;
    }
    &__menu {
      margin-top: 30px;
      margin-bottom: 45px;
      &-link {
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #cbcfd4;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &__copyright {
      font-size: 12px;
      line-height: 18px;
      color: #747d88;
    }
  }

  //====================== POPUP
  // .popup {
  //   display: none;
  //   position: fixed;
  //   width: 100%;
  //   height: 100%;
  //   left: 0;
  //   top: 0;
  //   z-index: 100;
  //   background: rgba(0, 0, 0, 0.25);
  //   &-btn-active {
  //     position: absolute;
  //     bottom: -60px;
  //     right: 0;
  //     width: 48px;
  //     height: 48px;
  //     border-radius: 50%;
  //     background: #272b30;
  //     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //   }
  //   &__body {
  //     min-height: 100%;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     padding: 30px;
  //   }
  //   &__inner {
  //     position: relative;
  //   }
  //   &__content {
  //     max-width: 400px;
  //     border-radius: 6px;
  //     margin: 0 auto;
  //     overflow: hidden;
  //     &-wrap {
  //       background-color: #fff;
  //       padding: 30px 20px;
  //     }
  //   }
  //   &__title {
  //     margin-bottom: 20px;
  //   }
  //   &__text {
  //     font-size: 14px;
  //     line-height: 22px;
  //   }
  //   &__form-group {
  //     padding: 30px 20px;
  //     background: #eeeeee;
  //     .form-group {
  //       &__wrap {
  //         display: flex;
  //         align-items: center;
  //         margin-bottom: 15px;
  //       }
  //       .form-control__input {
  //         background-image: none;
  //         border: 1px solid rgba(0, 0, 0, 0.1);
  //         border-right: 0px;
  //       }
  //       &__btn {
  //         border-radius: 0;
  //         font-weight: 600;
  //         font-size: 12px;
  //         line-height: 15px;
  //         padding: 17.5px 18px;
  //       }
  //       &__caption {
  //         font-size: 11px;
  //         line-height: 18px;
  //         color: #747d88;
  //       }
  //     }
  //   }
  // }
  //====================== POPUP
  .popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.25);
    &-btn__closed {
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      height: 20px;
      margin: 10px;
      span {
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
        &::after,
        &::before {
          content: "";
          position: absolute;
          display: block;
          left: 0;
          top: 50%;
          width: 100%;
          height: 2px;
          background: #3c444c;
        }
        &::after {
          transform: rotate(45deg);
        }
        &::before {
          transform: rotate(-45deg);
        }
      }
    }
    &__body {
      min-height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__inner {
      position: relative;
    }
    &__content {
      position: relative;
      max-width: 400px;
      border-radius: 6px;
      margin: 0 auto;
      background: #eeeeee;
      padding: 40px 30px;
    }
    &__title {
      margin-bottom: 20px;
    }
    &__text {
      font-size: 15px;
      line-height: 22px;
      color: #30363d;
      margin-bottom: 50px;
    }
    &__form-group {
      .form__btn {
        width: 100%;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 15px;
        font-size: 12px;
      }
      .form__btn-caption {
        display: block;
        font-size: 11px;
        line-height: 18px;
        color: #747d88;
      }
      .form-group {
        margin-bottom: 20px;
        .form-control__input {
          background-image: none;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border: 0px;
        }
        &__caption {
          font-size: 11px;
          line-height: 18px;
          color: #747d88;
        }
      }
    }
  }

  //======================PAGE programs-more-details
  .programs-more {
    padding-top: 90px;
    padding-bottom: 60px;
    &__format {
      background: #eeeeee;
      padding: 35px 0;
      margin-bottom: 40px;
    }
    &__sub-title {
      margin-bottom: 40px;
      span {
        color: #3c444c;
      }
    }
    &__main-title {
      margin-bottom: 20px;
    }
    &__text {
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 22px;
    }
    &__text.important-text {
      strong {
        font-weight: 600;
        text-transform: uppercase;
      }
      padding-left: 35px;
      background: url("../img/important.svg") top left no-repeat;
    }
    &__img-wrap {
      position: relative;
      height: 300px;
      margin-bottom: 40px;
    }
    &__img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }
    &__title {
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      color: #bf9d5c;
      margin-bottom: 15px;
    }
    .content-lessons__point {
      display: flex;
      align-items: flex-start;
      margin-top: 20px;
      font-size: 14px;
      line-height: 22px;
      color: #3c444c;
      p {
        margin-left: 15px;
      }
    }
    &__text-list {
      li {
        position: relative;
        margin-bottom: 0;
        padding-left: 10px;
        &::after {
          content: "";
          position: absolute;
          display: inline-block;
          left: 0;
          top: 10px;
          height: 4px;
          width: 4px;
          border-radius: 50%;
          background-color: #bf9d5c;
        }
      }
      margin-bottom: 30px;
    }
    &__btn {
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      display: block;
      text-align: center;
      max-width: 315px;
      color: #eceff1;
    }
  }
}
@media (max-width: 660px) {
  //======================SECTION team
  .team {
    &__video {
      .video-wrap {
        .video {
          height: 1000px;
          top: 0;
          left: 0;
          transform: translate(0, 0);
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .accordeon-list {
    .head {
      .content-btns a {
        padding: 15px 20px;
      }
    }
  }
  //======================SECTION team
  .team {
    &__video {
      .video-wrap {
        .video {
          height: 800px;
          top: 0;
          left: 0;
          transform: translate(0, 0);
        }
      }
    }
  }
  //======================SECTION prices
  .prices {
    .prices__item-text {
      max-width: 200px;
    }
  }
  //====================== POPUP
  .popup {
    &__content {
      max-width: 100%;
    }
    &__inner {
      height: 100vh;
      background: #eeeeee;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (max-width: 370px) {
  ._btn {
    padding: 15px;
    span {
      margin-left: 15px;
    }
  }
  ._container {
    padding: 0 20px;
  }
  .first-screen__bottom {
    padding: 0px 15px;
    padding-bottom: 25px;
  }
  .advantages__inner {
    padding-left: 20px;
  }
  //======================SECTION team
  .team {
    &__video {
      .video-wrap {
        .video {
          height: 600px;
          top: 0;
          left: 0;
          transform: translate(0, 0);
        }
      }
    }
  }
  .accordeon-list {
    .head {
      .content-btns a {
        padding: 10px 11px;
      }
    }
  }
  .tour {
    &-slider__photo-wrap {
      height: 400px;
    }
  }
  .popup {
    &__text {
      font-size: 14px;
      margin-bottom: 20px;
    }
    &__inner {
      align-items: start;
    }
    &__content {
      padding: 30px;
    }
  }
}
