/* roboto-slab-regular - latin */
@font-face {
  font-family: "Roboto-Slab";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/RobotoSlab-VariableFont_wght.woff2") format("woff2"), url("../fonts/RobotoSlab-VariableFont_wght.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/montserrat-v14-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v14-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/montserrat-v14-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v14-latin_cyrillic-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

/*==========  MOBILE Version ==========*/
@media (max-width: 767px) {
  body {
    font-family: "Montserrat", sans-serif;
    color: #272b30;
  }
  .overflow-h {
    overflow: hidden;
  }
  .line {
    display: block;
    height: 1px;
    width: 100%;
    background: rgba(0, 0, 0, 0.15);
  }
  ._container {
    padding: 0 30px;
    margin: 0 auto;
    max-width: 767;
  }
  ._btn {
    padding: 15px 30px;
    background: #f50057;
    border-radius: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 315px;
  }
  ._btn span {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    margin-left: 25px;
  }
  ._btn-primary {
    display: inline-block;
    background: #bf9d5c;
    color: #fff;
    padding: 15px 25px;
    border-radius: 50px;
  }
  ._btn-secondery {
    display: inline-block;
    border: 1px solid #bf9d5c;
    color: #bf9d5c;
    padding: 15px 25px;
    border-radius: 50px;
  }
  .sub-title {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #bf9d5c;
  }
  .title {
    font-family: "Roboto-Slab", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #272b30;
  }
  .title-secondary {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #bf9d5c;
  }
  .form-group .select {
    display: block;
    width: 100%;
    position: relative;
  }
  .form-group .new-select {
    font-family: "Montserrat", sans-serif;
    position: relative;
    background: #fff;
    color: #3c444c;
    padding: 16px 20px;
    font-size: 14px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .form-group .new-select__list {
    max-height: 270px;
    overflow: auto;
    position: absolute;
    top: 101%;
    left: 0;
    cursor: pointer;
    width: 100%;
    z-index: 2;
    background: #fff;
    color: #3c444c;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .form-group .new-select__list.on {
    display: block;
  }
  .form-group .new-select__item span {
    display: block;
    padding: 16px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .form-group .new-select__item span:hover {
    background: #eeeeee;
  }
  .form-group .new-select:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 15px;
    top: 38%;
    background: url("../img/errow-select.svg") no-repeat right center/contain;
    opacity: 0.6;
    -webkit-transition: all 0.27s ease-in-out;
    -o-transition: all 0.27s ease-in-out;
    transition: all 0.27s ease-in-out;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .form-group .new-select.on:after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .form-group .form-control {
    font-family: "Montserrat", sans-serif;
    color: #3c444c;
    position: relative;
    display: block;
    font-size: 14px;
    padding: 16px 20px;
    width: 100%;
    max-width: 100%;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-image: url("../img/errow-select.svg");
    background-repeat: no-repeat, repeat;
    background-position: right 1.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
  }
  .video {
    min-width: 100%;
    min-height: 100%;
    height: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition-duration: 500ms;
         -o-transition-duration: 500ms;
            transition-duration: 500ms;
    display: inline-block;
    vertical-align: baseline;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .video-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  .video-online {
    opacity: 0;
    visibility: hidden;
  }
  .video-online.active {
    opacity: 1;
    visibility: visible;
  }
  .video-offline {
    opacity: 0;
    visibility: hidden;
  }
  .video-offline.active {
    opacity: 1;
    visibility: visible;
  }
  .controls-video {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 5;
  }
  .controls-video .play {
    position: relative;
    border: 2px solid #ffffff;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: inherit;
    outline: 0 !important;
  }
  .controls-video .play .buttons-pause {
    visibility: hidden;
    opacity: 0;
  }
  .controls-video .play .buttons-play {
    position: absolute;
    display: block;
    border: 9px solid transparent;
    border-left: 12px solid #fff;
    border-radius: 2px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-20%, -50%);
        -ms-transform: translate(-20%, -50%);
            transform: translate(-20%, -50%);
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .controls-video .pause {
    position: relative;
    border: 2px solid #ffffff;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: inherit;
  }
  .controls-video .pause .buttons-play {
    visibility: hidden;
    opacity: 0;
  }
  .controls-video .pause .buttons-pause {
    position: absolute;
    display: block;
    width: 15px;
    height: 17px;
    border-right: 3px solid #fff;
    border-left: 3px solid #fff;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .contacts-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts-wrap .phone {
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    line-height: 23px;
  }
  .contacts-wrap .address {
    font-size: 12px;
    font-weight: 400;
    opacity: 0.7;
  }
  .contacts__soc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .contacts__soc-link {
    margin-right: 15px;
  }
  .partners__slider .custom-slider__item {
    height: 300px;
  }
  .custom-slider .slick-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .custom-slider .slick-dots .slick-active button {
    opacity: 1;
  }
  .custom-slider .slick-dots li button {
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background: #bf9d5c;
    font-size: 0;
    opacity: 0.2;
    margin: 0 2px;
  }
  .custom-slider__item {
    position: relative;
    width: 100%;
    height: 550px;
    margin: auto;
  }
  .custom-slider__item-photo {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -o-object-fit: cover;
       object-fit: cover;
  }
  .burger {
    width: 24px;
    height: 24px;
    position: relative;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 1000;
  }
  .burger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    opacity: 1;
    right: 0;
    -webkit-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  .burger span:nth-child(1) {
    top: 0;
  }
  .burger span:nth-child(2) {
    top: 9px;
  }
  .burger span:nth-child(3) {
    top: 18px;
  }
  .burger__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .burger__wrapper.active span:nth-child(1) {
    top: 9px;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .burger__wrapper.active span:nth-child(2) {
    opacity: 0;
    right: 60px;
  }
  .burger__wrapper.active span:nth-child(3) {
    top: 9px;
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  .h-fixed {
    position: fixed !important;
    z-index: 1000;
    left: 0;
    top: 0;
    right: 0;
    background-color: #3c444c;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  }
  .header__page {
    background-color: #3c444c;
  }
  .header-mob {
    color: #eceff1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
  }
  .header-mob__row {
    position: relative;
    z-index: 15;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
  .header-mob__logo {
    max-width: 110px;
    width: 100%;
    max-height: 20px;
  }
  .header-mob__content {
    position: fixed;
    z-index: 10;
    background: #272b30;
    -webkit-box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 80%;
    max-width: 100%;
    top: 0;
    left: -100%;
    padding-top: 100px;
    padding-bottom: 30px;
    -webkit-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    overflow: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-mob__content.active {
    left: 0%;
  }
  .header-mob__menu {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .header-mob__link {
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #eceff1;
    margin-bottom: 20px;
  }
  .header-mob__link:hover {
    color: #bf9d5c;
  }
  .header-mob__bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-mob__bottom .language-el {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .header-mob__bottom .language-el li a {
    color: #747d88;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    padding: 0 5px;
  }
  .header-mob__bottom .language-el li:last-child a {
    border-left: 1px solid #747d88;
  }
  .header-mob__bottom .language-el .active a {
    color: #fff;
  }
  .header-mob__bottom .copyright {
    font-size: 12px;
    line-height: 18px;
    opacity: 0.7;
  }
  .errow-mob {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .errow-mob__text {
    display: none;
    margin-left: 15px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    line-height: 35px;
  }
  .errow-mob__text.active {
    display: block;
  }
  .mob__first-screen {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
  }
  .first-screen__wrap {
    width: 100%;
  }
  .first-screen__title {
    font-family: "Roboto-Slab", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
  }
  .first-screen__title-wrap {
    position: absolute;
    width: 100%;
    max-width: 320px;
    left: 50%;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 10;
  }
  .first-screen__title-wrap span {
    display: block;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    letter-spacing: 1px;
    opacity: 0.9;
  }
  .first-screen__sub-title {
    font-size: 14px;
    text-align: center;
    color: #ffffff;
  }
  .first-screen__bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 30px;
    padding-bottom: 25px;
    z-index: 10;
  }
  .first-screen__btn {
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .first-screen__control {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .first-screen__control .version-online,
  .first-screen__control .version-offline {
    padding: 0 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
  }
  .first-screen__control .version-online {
    display: none;
  }
  .first-screen__control .version-online.active {
    display: block;
  }
  .first-screen__control .version-offline {
    display: none;
  }
  .first-screen__control .version-offline.active {
    display: block;
  }
  .first-screen__control-row {
    min-height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .first-screen__control .control__errow-left {
    background: inherit;
    opacity: 0.7;
  }
  .first-screen__control .control__errow-left.active {
    opacity: 1;
  }
  .first-screen__control .control__errow-right {
    background: inherit;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 0.7;
  }
  .first-screen__control .control__errow-right.active {
    opacity: 1;
  }
  .first-screen__consultation {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: #2ab53c;
    border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .first-screen__consultation.popup-btn.hidden {
    display: none;
  }
  .advantages {
    position: relative;
  }
  .advantages__inner {
    position: relative;
    padding-top: 40px;
    padding-left: 30px;
  }
  .advantages__sub-title {
    margin-bottom: 30px;
  }
  .advantages__title {
    margin-bottom: 15px;
  }
  .advantages__text {
    margin-bottom: 40px;
    font-size: 15px;
    line-height: 23px;
    padding-right: 30px;
  }
  .advantages__btn {
    display: inline-block;
    padding: 14px 40px;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    color: #bf9d5c;
    border: 1px solid #bf9d5c;
    border-radius: 50px;
    margin-bottom: 40px;
  }
  .advantages__link {
    color: #bf9d5c;
  }
  .advantages__reviews {
    max-width: 60%;
  }
  .advantages__reviews-text {
    position: relative;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
    padding-top: 15px;
  }
  .advantages__reviews-text::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 1px;
    background-color: #bf9d5c;
  }
  .advantages__reviews-author {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }
  .advantages__reviews-rank {
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 100px;
    opacity: 0.8;
  }
  .advantages__reviews-photo {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .advantages__conrtrol {
    position: absolute;
    left: 30px;
    bottom: 0;
    padding-bottom: 35px;
    max-width: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .advantages__conrtrol button {
    background-color: inherit;
  }
  .advantages-slider__errow {
    position: absolute;
    bottom: 0;
    left: 30px;
    background: inherit;
  }
  .advantages-slider__errow-left {
    z-index: 5;
  }
  .advantages-slider__errow-right {
    margin-left: 35px;
    z-index: 5;
  }
  .advantages-slider__errow.slick-disabled {
    opacity: 0.5;
  }
  .prices {
    background: #3c444c;
    padding: 30px 0;
  }
  .prices .line {
    margin: 30px 0;
  }
  .prices .accordeon-list .head-active .head-wrap {
    background: #3c444c;
    border-bottom: none;
  }
  .prices .accordeon-list .head-active .hidden {
    background: #3c444c;
  }
  .prices .accordeon-list .head-wrap::after {
    height: 0;
  }
  .prices__title {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #cbcfd4;
    margin-bottom: 40px;
  }
  .prices__item-title {
    font-weight: 600;
    font-size: 18px;
    color: #bf9d5c;
    margin-bottom: 20px;
  }
  .prices__item-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
  .prices__item-row:last-child {
    margin-bottom: 0;
  }
  .prices__item-text {
    max-width: 350px;
  }
  .prices__item-text-title {
    position: relative;
    display: block;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    padding-left: 15px;
  }
  .prices__item-text-title::after {
    content: "";
    position: absolute;
    display: block;
    background: #bf9d5c;
    height: 1px;
    width: 10px;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .prices__item-text-subtitle {
    display: block;
    font-size: 12px;
    line-height: 18px;
    color: #cbcfd4;
    padding-left: 15px;
  }
  .prices__item-img {
    position: relative;
    width: 48px;
    height: 48px;
    background: #272b30;
    opacity: 0.5;
    border-radius: 4px;
    padding: 10px;
  }
  .prices__item-img img {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .team__head {
    background: #fff;
    padding: 40px 0;
  }
  .team__sub-title {
    margin-bottom: 30px;
  }
  .team__title {
    margin-bottom: 15px;
  }
  .team__text {
    font-size: 15px;
    line-height: 23px;
    color: #272b30;
  }
  .team__video {
    width: 100%;
  }
  .team__video .video-wrap {
    padding-top: 120%;
  }
  .team__video .video-wrap .video {
    height: 1200px;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .team__video .controls-video {
    top: 50%;
  }
  .team__video-slider .custom-slider__item {
    height: auto;
  }
  .team__video-slider .slick-dots {
    position: absolute;
    top: 0px;
    padding-top: 120%;
    padding-bottom: 10px;
    background: #eeeeee;
    z-index: -1;
  }
  .team__cases {
    background: #eeeeee;
    margin-top: 20px;
    padding-top: 25px;
    padding-bottom: 60px;
  }
  .team__cases-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }
  .team__cases-sub-title {
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    color: #747d88;
    margin-bottom: 15px;
  }
  .team__cases-text {
    position: relative;
    font-size: 14px;
    line-height: 22px;
    padding-top: 15px;
    margin-bottom: 35px;
  }
  .team__cases-text::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 1px;
    background-color: #bf9d5c;
  }
  .programs {
    padding-top: 40px;
  }
  .programs__sub-title {
    margin-bottom: 50px;
  }
  .programs .partners__slider {
    margin-bottom: 20px;
  }
  .test__content {
    position: relative;
    z-index: 5;
    margin-bottom: -100px;
  }
  .test__title {
    margin-bottom: 15px;
  }
  .test__text {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 22px;
  }
  .test__btn {
    display: inline-block;
    padding: 14px 40px;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    color: #bf9d5c;
    border: 1px solid #bf9d5c;
    border-radius: 50px;
  }
  .test__img-wrap {
    position: relative;
    width: 100%;
    padding-bottom: 80%;
    overflow: hidden;
  }
  .test__img {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .accordeon-list {
    position: relative;
  }
  .accordeon-list:last-child .head-wrap::after {
    height: 0;
  }
  .accordeon-list .hidden {
    width: 100%;
    padding: 0;
    margin: auto;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
  }
  .accordeon-list .head {
    position: relative;
  }
  .accordeon-list .head-active .head-wrap {
    background: #fff;
    border-bottom: none;
  }
  .accordeon-list .head-active .head-wrap .head-title::after {
    -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
            transform: rotate(225deg);
  }
  .accordeon-list .head-active .head-wrap:after {
    height: 0;
  }
  .accordeon-list .head-active .hidden {
    background: #eeeeee;
    visibility: visible;
    height: auto;
    overflow: none;
    opacity: 1;
  }
  .accordeon-list .head-wrap {
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .accordeon-list .head-wrap::after {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 85%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    background: rgba(0, 0, 0, 0.15);
    bottom: 0;
  }
  .accordeon-list .head-title {
    position: relative;
    margin-bottom: 10px;
  }
  .accordeon-list .head-title::after {
    content: "";
    position: absolute;
    display: inline-block;
    right: 5px;
    top: 7px;
    width: 12px;
    height: 12px;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
    border-left: 2px solid #747d88;
    border-top: 2px solid #747d88;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .accordeon-list .head-text {
    font-size: 12px;
    line-height: 18px;
  }
  .accordeon-list .head .content-wrap {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .accordeon-list .head .content-text {
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 35px;
  }
  .accordeon-list .head .content-lessons__items {
    margin-bottom: 20px;
  }
  .accordeon-list .head .content-lessons__title {
    margin-bottom: 21px;
  }
  .accordeon-list .head .content-lessons__points {
    margin-bottom: 30px;
  }
  .accordeon-list .head .content-lessons__point {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 14px;
  }
  .accordeon-list .head .content-lessons__point:last-child {
    margin-bottom: 0;
  }
  .accordeon-list .head .content-lessons__point-img {
    margin-right: 15px;
  }
  .accordeon-list .head .content-btns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 450px;
  }
  .accordeon-list .head .content-btn__more {
    margin-right: 5px;
  }
  .promotions {
    padding-top: 40px;
  }
  .promotions-test {
    position: relative;
  }
  .promotions-test__content {
    margin-bottom: -50px;
  }
  .promotions .custom-slider__item {
    height: auto;
  }
  .promotions .test__title {
    color: #272b30;
  }
  .promotions .test__img-wrap {
    z-index: -1;
  }
  .promotions .test__btn {
    position: absolute;
    display: block;
    min-width: 300px;
    max-width: 400px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #eceff1;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    bottom: 30px;
    z-index: 5;
  }
  .promotions-test {
    display: block;
  }
  .promotions__sub-title {
    margin-bottom: 40px;
  }
  .online-video .team__video .video-wrap {
    height: 100vh;
  }
  .online-video .video-wrap {
    padding-top: 0;
  }
  .tour__inner {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #eeeeee;
  }
  .tour__sub-title {
    margin-bottom: 15px;
  }
  .tour__form-group {
    margin-bottom: 40px;
  }
  .guarantee {
    padding-top: 40px;
  }
  .guarantee__sub-title {
    margin-bottom: 40px;
  }
  .guarantee-top {
    background-color: #fff;
    padding-bottom: 40px;
  }
  .guarantee-top__img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto 30px auto;
  }
  .guarantee-top__text {
    font-size: 14px;
    line-height: 22px;
  }
  .guarantee-bottom {
    padding: 50px 0;
    background-color: #f50057;
  }
  .guarantee-bottom__img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto 30px auto;
  }
  .guarantee-bottom__text {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
  }
  .addresses-head {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #bf9d5c;
  }
  .addresses__sub-title {
    color: #fff;
    margin-bottom: 15px;
  }
  .addresses__caption-select {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    opacity: 0.7;
    margin-top: 12px;
  }
  .addresses-contacts {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .addresses-contacts_tab {
    display: none;
  }
  .addresses-contacts_tab.active {
    display: block;
  }
  .addresses-contacts__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .addresses-contacts__sub-title {
    font-size: 15px;
    line-height: 23px;
    padding-bottom: 20px;
  }
  .addresses-contacts__telephone {
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: #272b30;
    padding: 2px 2px 2px 40px;
    background: url("../img/phone.svg") left no-repeat;
  }
  .addresses-contacts__mail {
    display: block;
    color: #bf9d5c;
    padding: 2px 2px 2px 40px;
    margin-bottom: 30px;
    background: url("../img/mail.svg") left no-repeat;
  }
  .addresses-contacts__btn {
    font-size: 12px;
    line-height: 15px;
    display: block;
    text-align: center;
    max-width: 400px;
  }
  .addresses__slider .custom-slider__item {
    height: 320px;
  }
  .reviews {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .reviews-item {
    position: relative;
    padding: 30px 0;
  }
  .reviews-item:last-child::after {
    height: 0;
  }
  .reviews-item::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
  }
  .reviews-item__head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reviews-item__photo-wrap {
    position: relative;
    margin-right: 15px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  .reviews-item__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -o-object-fit: cover;
       object-fit: cover;
  }
  .reviews-item__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    display: block;
  }
  .reviews-item__name-caption {
    font-size: 12px;
    line-height: 18px;
    color: #747d88;
    display: block;
  }
  .reviews-item__text {
    font-size: 14px;
    line-height: 22px;
  }
  .reviews-btn {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    display: block;
    text-align: center;
    max-width: 400px;
  }
  .footer {
    background: #3c444c;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
  }
  .footer__sub-title {
    margin-bottom: 40px;
  }
  .footer .form-groups {
    padding-top: 30px;
    padding-bottom: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .footer .form-group {
    margin-bottom: 20px;
  }
  .footer .form-group__text {
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 50px;
  }
  .footer .form-group .form-control__input {
    background-image: inherit;
  }
  .footer .form__btn {
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 15px;
  }
  .footer .form__btn-caption {
    font-size: 11px;
    line-height: 18px;
    color: #cbcfd4;
  }
  .footer__menu {
    margin-top: 30px;
    margin-bottom: 45px;
  }
  .footer__menu-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #cbcfd4;
    margin-bottom: 20px;
  }
  .footer__menu-link:last-child {
    margin-bottom: 0;
  }
  .footer__copyright {
    font-size: 12px;
    line-height: 18px;
    color: #747d88;
  }
  .popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.25);
  }
  .popup-btn__closed {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    margin: 10px;
  }
  .popup-btn__closed span {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
  }
  .popup-btn__closed span::after, .popup-btn__closed span::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background: #3c444c;
  }
  .popup-btn__closed span::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .popup-btn__closed span::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .popup__body {
    min-height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .popup__inner {
    position: relative;
  }
  .popup__content {
    position: relative;
    max-width: 400px;
    border-radius: 6px;
    margin: 0 auto;
    background: #eeeeee;
    padding: 40px 30px;
  }
  .popup__title {
    margin-bottom: 20px;
  }
  .popup__text {
    font-size: 15px;
    line-height: 22px;
    color: #30363d;
    margin-bottom: 50px;
  }
  .popup__form-group .form__btn {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 12px;
  }
  .popup__form-group .form__btn-caption {
    display: block;
    font-size: 11px;
    line-height: 18px;
    color: #747d88;
  }
  .popup__form-group .form-group {
    margin-bottom: 20px;
  }
  .popup__form-group .form-group .form-control__input {
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border: 0px;
  }
  .popup__form-group .form-group__caption {
    font-size: 11px;
    line-height: 18px;
    color: #747d88;
  }
  .programs-more {
    padding-top: 90px;
    padding-bottom: 60px;
  }
  .programs-more__format {
    background: #eeeeee;
    padding: 35px 0;
    margin-bottom: 40px;
  }
  .programs-more__sub-title {
    margin-bottom: 40px;
  }
  .programs-more__sub-title span {
    color: #3c444c;
  }
  .programs-more__main-title {
    margin-bottom: 20px;
  }
  .programs-more__text {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 22px;
  }
  .programs-more__text.important-text {
    padding-left: 35px;
    background: url("../img/important.svg") top left no-repeat;
  }
  .programs-more__text.important-text strong {
    font-weight: 600;
    text-transform: uppercase;
  }
  .programs-more__img-wrap {
    position: relative;
    height: 300px;
    margin-bottom: 40px;
  }
  .programs-more__img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -o-object-fit: cover;
       object-fit: cover;
  }
  .programs-more__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #bf9d5c;
    margin-bottom: 15px;
  }
  .programs-more .content-lessons__point {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 20px;
    font-size: 14px;
    line-height: 22px;
    color: #3c444c;
  }
  .programs-more .content-lessons__point p {
    margin-left: 15px;
  }
  .programs-more__text-list {
    margin-bottom: 30px;
  }
  .programs-more__text-list li {
    position: relative;
    margin-bottom: 0;
    padding-left: 10px;
  }
  .programs-more__text-list li::after {
    content: "";
    position: absolute;
    display: inline-block;
    left: 0;
    top: 10px;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: #bf9d5c;
  }
  .programs-more__btn {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    display: block;
    text-align: center;
    max-width: 315px;
    color: #eceff1;
  }
}

@media (max-width: 660px) {
  .team__video .video-wrap .video {
    height: 1000px;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@media (max-width: 500px) {
  .accordeon-list .head .content-btns a {
    padding: 15px 20px;
  }
  .team__video .video-wrap .video {
    height: 800px;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .prices .prices__item-text {
    max-width: 200px;
  }
  .popup__content {
    max-width: 100%;
  }
  .popup__inner {
    height: 100vh;
    background: #eeeeee;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 370px) {
  ._btn {
    padding: 15px;
  }
  ._btn span {
    margin-left: 15px;
  }
  ._container {
    padding: 0 20px;
  }
  .first-screen__bottom {
    padding: 0px 15px;
    padding-bottom: 25px;
  }
  .advantages__inner {
    padding-left: 20px;
  }
  .team__video .video-wrap .video {
    height: 600px;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .accordeon-list .head .content-btns a {
    padding: 10px 11px;
  }
  .tour-slider__photo-wrap {
    height: 400px;
  }
  .popup__text {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .popup__inner {
    -webkit-box-align: start;
    -webkit-align-items: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .popup__content {
    padding: 30px;
  }
}
